@import './table_cell'
@import './text_input'
@import './error_boundary'
@import './loader'

@import './todos'

body
    +themify($themes)
        margin: 0
        font-family: 'PFDinDP-Reg'
        background-color: black
#root
    position: relative

input[type='checkbox']
  cursor: pointer
