.header
  +themify($themes)
    display: flex
    justify-content: flex-end
    height: 50px
    background-color: themed('header_bg_color')
    align-items: center
    margin-bottom: 20px
    .user
      color: themed('header_user_color')
      font-weight: bold
      margin-right: 10px
