table
  thead
    tr
      th
        &.table-cell
          &.sorting
            cursor: pointer
          &:hover
            color: orange
          .sort_icon
            padding-left: 10px
            color: orange
            visibility: hidden
            &.sortByCurrent
              visibility: visible




