.todo_title
  height: 20px
  border: 1px solid
  border-color: black
  min-width: 164px
  cursor: pointer
  &.isEditing
    border-color: darkgray
  input
    border: none
    &.text_input
      background-color: black
      color: white
      outline: none
      &:hocus,
      &:active
        outline: none
