{
  "parser": "babel-eslint",
  "extends": ["react-app", "plugin:prettier/recommended", "prettier/react"],
  "rules": {
    "jsx-a11y/href-no-hash": ["off"],
    "jsx-a11y/no-autofocus": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "react/no-array-index-key": 0,
    "react/prop-types": 1,
    "max-len": [
      "warn",
      {
        "code": 120,
        "tabWidth": 2,
        "comments": 120,
        "ignoreComments": false,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "import/no-extraneous-dependencies": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-console": 0,
    "global-require": 0,
    "import/prefer-default-export": 0,
    "camelcase": 0,
    "no-unused-expressions": 0
  },
  "globals": { "PRODUCTION": "readonly", "logg": "readonly" }
}
