// COLORS
$white-100: white;

$gray-100: #4a4a4a;
$gray-200: darkgray;
$gray-300: #505050;

$black-100: black;
$black-200: #171717;

$green-100: #00be73;
$green-200: green;

$violet-100: #5f19aa;

$orange-100: orange;

$red-100: red;

$blue-100: #004b66;
$blue-200: #003f55;
$blue-300: lightblue;
// END COLORS
